@page "/"
@page "/editor"
@namespace BlazorDrawFBP.Pages

@inject IDialogService DialogService
@inject Mas.Infrastructure.Common.ConnectionManager ConMan
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject IJSRuntime JsRuntime
@inject CleanupDiagramService CleanupService

@using System.Collections.Immutable
@using System.Reflection
@using Blazor.Diagrams.Components.Widgets
@using BlazorDrawFBP.Models
@using Newtonsoft.Json.Linq
@using MudBlazor
@using System.Timers
@using BlazorDrawFBP.Services
@using Capnp.Rpc
@using Mas.Infrastructure.BlazorComponents
@using Mas.Schema.Fbp
@using Mas.Schema.Registry

<MudDialogProvider/>
<MudPopoverProvider/>

<div class="editor-shell mud-background-gray pa-1">
<MudStack Spacing="1" Class="mud-height-full" Style="min-height: 0;">
    <MudPaper Outlined="true" Class="pa-1 d-flex align-center">
        <MudIconButton Icon="@(_componentListVisible ? Icons.Material.Filled.MenuOpen : Icons.Material.Filled.Menu)"
                       Color="Color.Inherit"
                       Edge="Edge.Start"
                       title="@(_componentListVisible ? "Hide components" : "Show components")"
                       OnClick="@ToggleComponentList"/>
        <MudImage Class="ml-1 mr-1" Src="img/ocapi_just_logo.png" Height="45"/>
        <MudText Typo="Typo.h4">OCAPI-Flow Tool</MudText>
        <MudSpacer/>
        <MudButtonGroup>
            <MudButton StartIcon="@Icons.Material.Filled.Add"
                       Variant="@Variant.Filled"
                       Color="@Color.Inherit"
                       @onclick="AddComponentServiceSturdyRef">
                Components
            </MudButton>
            <MudButton StartIcon="@Icons.Material.Filled.Add"
                       Variant="@Variant.Filled"
                       Color="@Color.Inherit"
                       @onclick="AddChannelServiceSturdyRef">
                Channels
            </MudButton>
            <MudButton StartIcon="@Icons.Material.Filled.Settings"
                       Color="Color.Inherit"
                       Variant="Variant.Filled"
                       OnClick="@ShowSturdyRefDialog">
                Edit SturdyRefs
            </MudButton>
        </MudButtonGroup>
        <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End"/>
    </MudPaper>
    <MudStack Row="true"
              Wrap="Wrap.NoWrap"
              AlignItems="AlignItems.Stretch"
              Spacing="1"
              Class="flex-grow-1 overflow-hidden"
              Style="min-height: 0;">
        @if (_componentListVisible)
        {
            <MudPaper Outlined="true"
                      Class="d-flex flex-column flex-shrink-0 overflow-hidden pa-1"
                      Style="width: 24rem; min-height: 0;">
                <MudTextField @bind-Value="@_searchText"
                              Placeholder="Search components"
                              Variant="Variant.Text"
                              Margin="Margin.Dense"
                              Class="flex-grow-0 mt-0 mb-0"
                              Adornment="Adornment.Start"
                              AdornmentIcon="@Icons.Material.Filled.Search"
                              Immediate="true"
                              DebounceInterval="300"
                              OnDebounceIntervalElapsed="ApplyComponentSearch"
                              Clearable="true"
                              OnClearButtonClick="ClearComponentSearch"
                              ClearIcon="@Icons.Material.Filled.Close"/>
                <MudNavMenu Dense="true"
                            Class="components-list d-flex flex-column gap-1 flex-grow-1 overflow-auto pa-1">
                    @{
                        var categoryIds = sortedCatIds
                            .Where(catId => CatId2CompServiceIdAndComponentIds[catId].Count > 0)
                            .ToList();
                    }
                    @for (var i = 0; i < categoryIds.Count; i++)
                    {
                        var catId = categoryIds[i];
                        var compIds = CatId2CompServiceIdAndComponentIds[catId];
                        var isExpanded = IsCategoryExpanded(catId);
                        var categoryMatchesSearch = CategoryMatchesSearch(catId);

                        <MudNavGroup Expanded="@isExpanded"
                                     ExpandedChanged="@((bool expanded) => SetCategoryExpanded(catId, expanded))"
                                     ExpandIcon="@Icons.Material.Filled.ExpandMore"
                                     HeaderClass="rounded pa-1"
                                     Ripple="false">
                            <TitleContent>
                                <MudText Class="ml-n3">@CatId2Info[catId].Name</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudStack Spacing="1" Class="gap-1 pa-1">
                                    @foreach (var compId in compIds)
                                    {
                                        if (!ServiceIdAndComponentId2Component.TryGetValue(compId, out var comp)) continue;
                                        if (comp.Type == Component.ComponentType.subflow) continue;

                                        if (SearchActive && !categoryMatchesSearch && !ComponentMatchesSearch(comp))
                                        {
                                            continue;
                                        }

                                        if (string.IsNullOrEmpty(comp.Info.Description))
                                        {
                                            <MudChip Class="relative"
                                                     Style="top: +7px;"
                                                     Variant="Variant.Text"
                                                     Color="Color.Info"
                                                     Label="true"
                                                     Size="Size.Small"
                                                     T="string">
                                                @(RegistryServiceIdToPetNameAndSturdyRef.GetValueOrDefault(compId.Item1, ("No Service", null)).Item1)
                                            </MudChip>
                                            <MudButton Class="cursor-grab"
                                                       draggable="true"
                                                       @ondragstart="() => OnNodeDragStart(comp, compId.Item1)"
                                                       Variant="Variant.Filled"
                                                       StartIcon="@Icons.Material.Filled.DragIndicator"
                                                       IconColor="Color.Primary"
                                                       Color="Color.Default"
                                                       FullWidth="true"
                                                       Size="Size.Large">
                                                @comp.Info.Name
                                            </MudButton>
                                        }
                                        else
                                        {
                                            <MudTooltip>
                                                <ChildContent>
                                                    <MudChip Class="relative"
                                                             Style="top: +7px;"
                                                             Variant="Variant.Text"
                                                             Color="Color.Info"
                                                             Label="true"
                                                             Size="Size.Small"
                                                             T="string">
                                                        @(RegistryServiceIdToPetNameAndSturdyRef.GetValueOrDefault(compId.Item1, ("No Service", null)).Item1)
                                                    </MudChip>
                                                    <MudButton Class="cursor-grab"
                                                               draggable="true"
                                                               @ondragstart="() => OnNodeDragStart(comp, compId.Item1)"
                                                               Variant="Variant.Filled"
                                                               StartIcon="@Icons.Material.Filled.DragIndicator"
                                                               IconColor="Color.Primary"
                                                               FullWidth="true"
                                                               Color="Color.Default">
                                                        @comp.Info.Name
                                                    </MudButton>
                                                </ChildContent>
                                                <TooltipContent>
                                                    <MudText Typo="Typo.body2">@comp.Info.Description</MudText>
                                                </TooltipContent>
                                            </MudTooltip>
                                        }
                                    }
                                </MudStack>
                            </ChildContent>
                        </MudNavGroup>
                    }
                </MudNavMenu>
            </MudPaper>
        }
        <MudPaper Outlined="true"
                  Class="diagram-container flex-grow-1"
                  ondragover="event.preventDefault();"
                  @ondrop="OnNodeDrop">
            <div class="d-inline-block absolute"
                 style="top: 0.25rem; left: 0.25rem; z-index: 2; max-width: calc(100% - 0.5rem);">
                <MudStack Row="true" Spacing="1" Class="flex-wrap">
                    <MudFileUpload T="IBrowserFile"
                                   FilesChanged="LoadFlow"
                                   Class="mt-0">
                        <CustomContent Context="fileUpload">
                            <MudButton StartIcon="@Icons.Material.Filled.Upload"
                                       Variant="@Variant.Filled"
                                       Color="@Color.Primary"
                                       OnClick="@(() => fileUpload.OpenFilePickerAsync())">
                                Load Flow
                            </MudButton>
                        </CustomContent>
                    </MudFileUpload>
                    <MudButton StartIcon="@Icons.Material.Filled.Download"
                               Variant="@Variant.Filled"
                               Color="@Color.Primary"
                               @onclick="() => SaveFlow(false)">
                        Save Flow
                    </MudButton>
                    <MudButton StartIcon="@Icons.Material.Filled.Download"
                               Variant="@Variant.Filled"
                               Color="@Color.Primary"
                               @onclick="() => SaveFlow(true)">
                        Export as Mermaid Flow
                    </MudButton>
                    <MudButton
                        StartIcon="@(ClearButtonDisabled ? Icons.Material.Filled.Delete : Icons.Material.Filled.DeleteForever)"
                        Variant="@Variant.Filled"
                        Color="@(ClearButtonDisabled ? Color.Warning : Color.Error)"
                        OnClick="ClearButtonClicked">
                        @(ClearButtonDisabled ? "Clear Flow" : "Clear Flow")
                    </MudButton>
                    <MudButton StartIcon="@Icons.Material.Filled.PlayCircle"
                                Class="execute-flow-button"
                                Variant="@Variant.Filled"
                                Color="@Color.Success"
                                Disabled="@(!CanExecuteFlow)"
                                title="@ExecuteFlowButtonTitle"
                                @onclick="@ExecuteFlow">
                        Execute flow
                    </MudButton>
                </MudStack>
            </div>
            <CascadingValue Value="Diagram" IsFixed="true">
                <DiagramCanvas>
                    <Widgets>
                        <NavigatorWidget Width="200"
                                         Height="120"
                                         Class="editor-minimap border border-black absolute"
                                         Style="bottom: 15px; right: 15px;"/>
                    </Widgets>
                </DiagramCanvas>
            </CascadingValue>
        </MudPaper>
    </MudStack>
</MudStack>
</div>

@code {
    private Timer ClearButtonTimer { get; set; }
    private bool ClearButtonDisabled { get; set; } = true;
    private bool _componentListVisible = true;
    private Editor _editor;
    private string _searchText = "";
    private string _query = "";
    private const int MinSearchChars = 3;
    private const string DefaultCatId = "default";
    private Dictionary<string, bool> _expandedPanels = new() { { DefaultCatId, true } };
    private bool HasConnectedComponentService => ServiceId2Registries.Count > 0;
    private bool HasConnectedChannelService => ServiceId2ChannelStarterServices.Count > 0;
    private bool CanExecuteFlow => HasConnectedComponentService && HasConnectedChannelService;
    private string ExecuteFlowButtonTitle => CanExecuteFlow
        ? "Execute flow"
        : "Connect both a components service and a channel service to execute the flow.";

    private IEnumerable<(string, Component)> catId2Component =>
        CatId2CompServiceIdAndComponentIds.SelectMany(kv =>
            kv.Value.Select(compId => (kv.Key, compId))).Select(catIdCompId =>
            (catIdCompId.Key, ServiceIdAndComponentId2Component[catIdCompId.compId]));

    private IEnumerable<string> sortedCatIds => new List<string> { DefaultCatId }
        .Concat(CatId2CompServiceIdAndComponentIds.Keys
            .Where(catId => catId != DefaultCatId)
            .ToImmutableSortedSet()
            .AsEnumerable());

    private bool SearchActive => _query.Length >= MinSearchChars;

    private bool IsCategoryExpanded(string catId) =>
        SearchActive
            ? CategoryHasMatchingComponent(catId)
            : _expandedPanels.GetValueOrDefault(catId, false);

    private Task ApplyComponentSearch(string searchText)
    {
        _searchText = searchText ?? "";
        var trimmedSearchText = _searchText.Trim();
        _query = trimmedSearchText.Length >= MinSearchChars ? trimmedSearchText : "";
        return Task.CompletedTask;
    }

    private void ClearComponentSearch()
    {
        _searchText = "";
        _query = "";
    }

    private bool CategoryHasMatchingComponent(string catId) =>
        CategoryMatchesSearch(catId) ||
        CatId2CompServiceIdAndComponentIds.TryGetValue(catId, out var compIds) &&
        compIds.Any(compId =>
            ServiceIdAndComponentId2Component.TryGetValue(compId, out var comp) &&
            comp.Type != Component.ComponentType.subflow &&
            ComponentMatchesSearch(comp));

    private bool CategoryMatchesSearch(string catId)
    {
        if (!SearchActive)
        {
            return true;
        }

        if (!CatId2Info.TryGetValue(catId, out var info))
        {
            return catId.Contains(_query, StringComparison.OrdinalIgnoreCase);
        }

        return info.Id.Contains(_query, StringComparison.OrdinalIgnoreCase) ||
               (info.Name?.Contains(_query, StringComparison.OrdinalIgnoreCase) ?? false) ||
               (info.Description?.Contains(_query, StringComparison.OrdinalIgnoreCase) ?? false);
    }

    private bool ComponentMatchesSearch(Component comp)
    {
        if (!SearchActive)
        {
            return true;
        }

        return (comp.Info.Name?.Contains(_query, StringComparison.OrdinalIgnoreCase) ?? false) ||
               (comp.Info.Description?.Contains(_query, StringComparison.OrdinalIgnoreCase) ?? false);
    }

    private void ToggleComponentList() => _componentListVisible = !_componentListVisible;

    private void SetCategoryExpanded(string catId, bool expanded)
    {
        if (SearchActive)
        {
            return;
        }

        _expandedPanels[catId] = expanded;
    }

    private void ClearButtonClicked()
    {
        if (ClearButtonDisabled)
        {
            if (ClearButtonTimer == null)
            {
                //Console.WriteLine("Creating new timer");
                _editor = this;
                ClearButtonTimer = new Timer(2000) { AutoReset = false };
                ClearButtonTimer.Elapsed += ClearButtonTimerElapsed;
            }

            ClearButtonTimer.Start();
            ClearButtonDisabled = false;
        }
        else
        {
            ClearDiagram();
            ClearButtonDisabled = true;
        }
    }

    private void ClearButtonTimerElapsed(object sender, ElapsedEventArgs e)
    {
        //Console.WriteLine("Timer elapsed");
        ClearButtonDisabled = true;
        _editor?.InvokeAsync(StateHasChanged);
    }

    private async Task AddComponentServiceSturdyRef()
    {
        var parameters = new DialogParameters();
        parameters.Add("InterfaceId", typeof(IRegistry).GetCustomAttribute<Capnp.TypeIdAttribute>(false)?.Id);
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Large, FullWidth = true };
        var dia = await DialogService.ShowAsync<NewSturdyRefDialog>("Add components service sturdy reference", parameters, options);
        var res = await dia.Result;
        if (res is { Data: StoredSrData nb }) // && editData == null)
        {
            if (nb.SturdyRef.Length == 0) return;
            await StoredSrData.SaveNew(LocalStorage, nb);
            if (nb.AutoConnect) await ConnectToRegistryService(ConMan, nb.PetName, nb.SturdyRef);
        }

        StateHasChanged();
    }

    private async Task AddChannelServiceSturdyRef()
    {
        var parameters = new DialogParameters();
        parameters.Add("InterfaceId", typeof(IStartChannelsService).GetCustomAttribute<Capnp.TypeIdAttribute>(false)?.Id);
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Large, FullWidth = true };
        var dia = await DialogService.ShowAsync<NewSturdyRefDialog>("Add channel service sturdy reference", parameters, options);
        var res = await dia.Result;
        if (res is { Data: StoredSrData nb }) // && editData == null)
        {
            if (nb.SturdyRef.Length == 0) return;
            await StoredSrData.SaveNew(LocalStorage, nb);
            if (nb.AutoConnect) await ConnectToStartChannelsService(ConMan, nb.PetName, nb.SturdyRef);
        }

        StateHasChanged();
    }

    private async Task ShowSturdyRefDialog()
    {
        async Task HandleNewConnections((ulong, string, string) intIdAndSrAndPn)
        {
            var updatedConnections = false;
            var sr = intIdAndSrAndPn.Item2;
            if (!SturdyRef2Services.TryGetValue(sr, out var value)) return;
            var intId = intIdAndSrAndPn.Item1;
            var petName = intIdAndSrAndPn.Item3;
            if (intId == Shared.ChannelStarterInterfaceId)
            {
                if (value is IStartChannelsService service)
                {
                    var info = await service.Info();
                    var petName2 = Shared.MakeUniqueKey(ServiceId2ChannelStarterServices, petName);
                    ServiceId2ChannelStarterServices[info.Id] = service;
                    ChannelServiceIdToPetNameAndSturdyRef[info.Id] = (petName2, sr);
                    updatedConnections = true;
                }
            }
            else if (intId == Shared.RegistryInterfaceId && value is IRegistry reg)
            {
                var info = await reg.Info();
                var petName2 = Shared.MakeUniqueKey(ServiceId2Registries, petName);
                ServiceId2Registries[info.Id] = Proxy.Share(reg);
                RegistryServiceIdToPetNameAndSturdyRef[info.Id] = (petName2, sr);
                await LoadComponentsFromRegistry(Proxy.Share(reg), sr);
                updatedConnections = true;
            }

            if (updatedConnections)
            {
                await InvokeAsync(StateHasChanged);
            }
        }

        EventCallback<(ulong, string, string)> ecb = new(this, HandleNewConnections);
        var parameters = new DialogParameters();
        parameters.Add("InterfaceIdToType", InterfaceIdToType);
        parameters.Add("SturdyRef2Services", SturdyRef2Services);
        parameters.Add("ConnectedToInterfaceIdAndSturdyRefAndPetNameChanged", ecb);
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.ExtraLarge, FullWidth = true };
        await DialogService.ShowAsync<LocallyStoredSturdyRefsDialog>("Sturdy reference bookmarks", parameters, options);
    }

}
