@inject Mas.Infrastructure.Common.ConnectionManager ConMan

@using BlazorDrawFBP.Renderers

<div>
    <MudCard Style="@CardStyle">
        <MudCardContent>
            <MudTextField Class="d-inline-flex pr-4"
                          @bind-Value="Node.ProcessName"
                          Label="Process name"
                          Variant="Variant.Outlined"
                          Margin="Margin.Normal"/>
            <MudToggleIconButton Style="position: absolute; right: -5px; top: -5px;"
                                 @bind-Toggled="Node.AppendMode"
                                 Icon="@Icons.Material.Filled.DoneAll"
                                 Color="@Color.Primary"
                                 title="@(Node.AppendMode ? "Replace old content" : "Append new content")"
                                 ToggledIcon="@Icons.Material.Filled.Done"
                                 ToggledColor="@Color.Secondary"/>
            <MudToggleIconButton Style="position: absolute; right: -5px; top: 25px;"
                                 Toggled="@ProcessStarted"
                                 ToggledChanged="@StartProcess"
                                 Icon="@Icons.Material.Filled.PlayCircle"
                                 Color="@Color.Primary"
                                 title="@(ProcessStarted ? "Stop process" : "Start process")"
                                 ToggledIcon="@Icons.Material.Filled.StopCircle"
                                 ToggledColor="@Color.Secondary"/>
            <Display WidthPx="@Node.DisplayWidthPx"
                     HeightPx="@Node.DisplayHeightPx">
                @Node.ViewContent
            </Display>
        </MudCardContent>
    </MudCard>

    @if (Node.Ports.Count > 0 && Node.Ports[0] is CapnpFbpPortModel capnpPort)
    {
        string PortColor() => capnpPort.Reader == null && capnpPort.Writer == null ? "#d4d4d4" : "#1ac12e";
        string Style() => $"top: 50%; border: 1px {PortColor()};";
        <CapnpFbpPortRenderer @key="Node.Ports[0]" Port="capnpPort" Style="@(Style())">
            in
        </CapnpFbpPortRenderer>
    }
</div>

@code {
    [Parameter] public CapnpFbpViewComponentModel Node { get; set; } = null!;

    private string CardStyle => $"min-height: 100px; max-height: 800px; max-width: 800px; border-width: 1px; {FrameColor}";
    private string FrameColor => $@"border-color: {(ProcessStarted ? "#1ac12e" : "#ff0000")}";

    private async Task StartProcess(bool start)
    {
        await Node.StartProcess(ConMan, start);
        StateHasChanged();
    }

    private bool ProcessStarted => Node.ProcessStarted;
}