@inject Mas.Infrastructure.Common.ConnectionManager ConMan

@using BlazorDrawFBP.Renderers
@using Mas.Infrastructure.BlazorComponents
@inject IDialogService DialogService

<div>
    <MudPaper Style="@CardStyle" Class="d-flex flex-column align-content-space-between"
              Elevation="3">
        <MudGrid Justify="Justify.Center" Spacing="1">
            <MudItem xs="4">
                <MudPaper Class="d-flex justify-start mud-width-full pl-3 pt-3" Outlined="false"
                          Elevation="0">
                    <MudButton Color="@Color.Primary"
                               StartIcon="@(ProcessStarted ? Icons.Material.Filled.StopCircle : Icons.Material.Filled.PlayCircle)"
                               OnClick="async (e) => { await StartProcess(!ProcessStarted); }">
                        @(ProcessStarted ? "Stop" : "Start")
                    </MudButton>
                </MudPaper>
            </MudItem>
            <MudItem Class="align-content-end" xs="4">
                <MudPaper Class="d-flex justify-center mud-width-full pr-3 pt-3" Outlined="false"
                          Elevation="0">
                    <MudButton Color="@Color.Primary"
                               EndIcon="@Icons.Material.Filled.OpenInNew"
                               OnClick="@ShowDetails">
                        Large
                    </MudButton>
                </MudPaper>
            </MudItem>
            <MudItem Class="align-content-end" xs="4">
                <MudPaper Class="d-flex justify-end mud-width-full pr-3 pt-3" Outlined="false"
                          Elevation="0">
                    <MudButton Color="@Color.Primary"
                               OnClick="@Node.ResetViewContent"
                               EndIcon="@Icons.Material.Filled.Clear">
                        Clear
                    </MudButton>
                </MudPaper>
            </MudItem>
        </MudGrid>
        <MudGrid Class="flex-grow-1" Justify="Justify.Center" Spacing="0">
            <MudItem xs="12" Class="pl-3 pr-3 pt-2 pb-3">
                <Display WidthPx="@Node.DisplayWidthPx"
                         HeightPx="@Node.DisplayHeightPx"
                         EnableZoom="@(() => { Node.Editor?.Diagram.Options.Zoom.Enabled = true; })"
                         DisableZoom="@(() => { Node.Editor?.Diagram.Options.Zoom.Enabled = false; })">
                    @Node.ViewContent
                </Display>
            </MudItem>
        </MudGrid>
    </MudPaper>
    <MudText Style="@CardToolTipStyle" Typo="Typo.subtitle1" Align="Align.Center">
        @CardToolTipText
    </MudText>

    @if (Node.Ports.Count > 0 && Node.Ports[0] is CapnpFbpPortModel capnpPort)
    {
        string PortColor() {
            return capnpPort switch {
                CapnpFbpInPortModel { Reader: null } => "#d4d4d4",
                CapnpFbpOutPortModel { Writer: null } => "#d4d4d4",
                _ => "#1ac12e"
            };
        }

        string Style()
        {
            return $"top: 50%; border: 1px solid {PortColor()};";
        }

        <div @onmouseenter="@(() => CardToolTipText = Shared.MakePortToolTipText(capnpPort))"
             @onmouseleave="@(() => CardToolTipText = new MarkupString())">
            <CapnpFbpPortRenderer @key="Node.Ports[0]" Port="capnpPort" Style="@(Style())">
                in
            </CapnpFbpPortRenderer>
        </div>


    }
</div>

@code {
    [Parameter] public CapnpFbpViewComponentModel Node { get; set; } = null!;

    private string CardStyle => $"height: 200px; width: 350px;{FrameWidth};{FrameColor}";
    private string FrameWidth => $"border-width: {(ProcessStarted ? 1 : 1)}px";
    private string FrameColor => $@"border-color: {(ProcessStarted ? "#1ac12e" : "#ff0000")}";

    private async Task StartProcess(bool start) {
        if (start)
            await Node.StartProcess(ConMan);
        else
            await Node.StopProcess(ConMan);
        StateHasChanged();
    }

    private bool ProcessStarted => Node.ProcessStarted;

    private MarkupString CardToolTipText { get; set; }
    private static string CardToolTipStyle => $"width: {Shared.CardWidth}px;";

    async void ShowDetails(MouseEventArgs e)
    {
        var parameters = new DialogParameters
        {
            ["Content"] = Node.ViewContent,
            ["EnableZoom"] = () => { Node.Editor?.Diagram.Options.Zoom.Enabled = true; },
            ["DisableZoom"] = () => { Node.Editor?.Diagram.Options.Zoom.Enabled = false; },
        };

        await DialogService.ShowAsync<MarkupDisplayDialog>("View Content", parameters);
        StateHasChanged();
    }
}