@inject Mas.Infrastructure.Common.ConnectionManager ConMan

@using BlazorDrawFBP.Renderers

<div>
    <MudPaper Style="@CardStyle" Class="d-flex flex-column align-content-space-between"
              Elevation="3">
        <MudGrid Justify="Justify.Center" Spacing="1">
            <MudItem xs="5">
                <MudPaper Class="d-flex justify-start mud-width-full pl-3 pt-3" Outlined="false"
                          Elevation="0">
                    <MudButton Color="@Color.Primary"
                               StartIcon="@(ProcessStarted ? Icons.Material.Filled.StopCircle : Icons.Material.Filled.PlayCircle)"
                               OnClick="async (e) => { await StartProcess(!ProcessStarted); }">
                        @(ProcessStarted ? "Stop" : "Start")
                    </MudButton>
                </MudPaper>
            </MudItem>
            <MudItem Class="align-content-end" xs="7">
                <MudPaper Class="d-flex justify-end mud-width-full pr-3 pt-3" Outlined="false"
                          Elevation="0">
                    <MudButton Color="@Color.Primary"
                               OnClick="@Node.ResetViewContent"
                               EndIcon="@Icons.Material.Filled.Clear">
                        Clear
                    </MudButton>
                </MudPaper>
            </MudItem>
        </MudGrid>
        <MudGrid Class="flex-grow-1" Justify="Justify.Center" Spacing="0">
            <MudItem xs="12" Class="pl-3 pr-3 pt-2 pb-3">
                <Display WidthPx="@Node.DisplayWidthPx"
                         HeightPx="@Node.DisplayHeightPx"
                         Editor="@Node.Editor">
                    @Node.ViewContent
                </Display>
            </MudItem>
        </MudGrid>
    </MudPaper>

    @if (Node.Ports.Count > 0 && Node.Ports[0] is CapnpFbpPortModel capnpPort)
    {
        string PortColor()
        {
            return capnpPort.Reader == null && capnpPort.Writer == null ? "#d4d4d4" : "#1ac12e";
        }

        string Style()
        {
            return $"top: 50%; border: 1px solid {PortColor()};";
        }

        <CapnpFbpPortRenderer @key="Node.Ports[0]" Port="capnpPort" Style="@(Style())">
            in
        </CapnpFbpPortRenderer>
    }
</div>

@code {
    [Parameter] public CapnpFbpViewComponentModel Node { get; set; } = null!;

    private string CardStyle => $"height: 200px; width: 250px;{FrameWidth};{FrameColor}";
    private string FrameWidth => $"border-width: {(ProcessStarted ? 1 : 1)}px";
    private string FrameColor => $@"border-color: {(ProcessStarted ? "#1ac12e" : "#ff0000")}";

    private async Task StartProcess(bool start)
    {
        await Node.StartProcess(ConMan, start);
        StateHasChanged();
    }

    private bool ProcessStarted => Node.ProcessStarted;
}