@using Blazor.Diagrams.Components.Renderers;
@using BlazorDrawFBP.Models;

<div>
    <MudFab Style="position: absolute; right: -20px; top: -20px; overflow: visible; transform: scale(0.5);"
            OnClick="RemoveWidget"
            Color="Color.Error"
            Size="Size.Small"
            StartIcon="@Icons.Material.Filled.Close"/>
    <MudCard>
        <MudCardHeader>
            @*<CardHeaderAvatar>
                <MudAvatar Color="Color.Secondary"
                           >@InterpreterShortcut(Node.PathToInterpreter)</MudAvatar>
            </CardHeaderAvatar>*@
            <CardHeaderContent>
                <MudTextField Class="d-inline-flex pr-4"
                              @bind-Value="Node.ComponentModel.ProcessName"
                              @onpointerenter="_ => Node.Locked = true"
                              @onpointerleave="_ => Node.Locked = false"
                              Label="Process name"
                              Variant="Variant.Outlined"/>
                @if (ParallelOn)
                {
                    <MudNumericField Class="d-inline-flex pr-6" Style="width: 80px;"
                                     @bind-Value="Node.ComponentModel.InParallelCount"
                                     Label="#Procs"
                                     Variant="Variant.Outlined"
                                     Min="1" Max="10000"/>
                }
                <MudToggleIconButton Style="position: absolute; right: -5px; top: 55px;"
                                     @bind-Toggled="@_linesOn"
                                     Icon="@Icons.Material.Filled.MenuOpen"
                                     Color="@Color.Primary"
                                     title="@(_linesOn ? "Lines Off" : "Lines On")"
                                     ToggledIcon="@Icons.Material.Filled.FormatLineSpacing"
                                     ToggledColor="@Color.Secondary"/>
                @if (_linesOn)
                {
                    <MudNumericField Class="d-inline-flex pr-6" Style="width: 80px;"
                                     @bind-Value="Node.ComponentModel.DisplayNoOfConfigLines"
                                     Label="#Lines"
                                     Variant="Variant.Outlined"
                                     Min="1" Max="10000"/>
                }
                <MudTextField @bind-Value="Node.ComponentModel.ConfigString"
                              @onpointerenter="_ => Node.Locked = true"
                              @onpointerleave="_ => Node.Locked = false"
                              Lines="@Node.ComponentModel.DisplayNoOfConfigLines"
                              Label="TOML config (Key=Value)"
                              Variant="Variant.Outlined"/>
                @if (!Node.ComponentModel.Editable && !string.IsNullOrWhiteSpace(Node.ComponentModel.ShortDescription))
                {
                    <MudTextField @bind-Value="Node.ComponentModel.ShortDescription"
                                  Lines="2"
                                  Label="Description"
                                  Disabled="@(!string.IsNullOrWhiteSpace(Node.ComponentModel.ComponentId))"
                                  Variant="Variant.Outlined"/>
                }

                @code {
                    bool _changeComponentServiceId;
                }

                @if (_changeComponentServiceId)
                {
                    <MudChipSet T="string"
                                @bind-SelectedValue="Node.ComponentModel.ComponentServiceId"
                                CheckMark
                                SelectionMode="SelectionMode.SingleSelection">
                        @foreach (var (i, p) in Node.ComponentModel.Editor.RegistryServiceIdToPetNameAndSturdyRef.Select((p, i) => (i, p)))
                        {
                            var style = $"position: absolute; left: 3px; top: {-15 - i * 25}px;";
                            <MudChip Style="@style"
                                     Color="Color.Info"
                                     SelectedColor="Color.Info"
                                     Label="true"
                                     Default="@(p.Key == Node.ComponentModel.ComponentServiceId)"
                                     OnClick="() => { _changeComponentServiceId = false; }"
                                     Size="Size.Small"
                                     Value="@p.Key"
                                     T="string">
                                @p.Value.Item1
                            </MudChip>
                        }
                    </MudChipSet>
                }
                else
                {
                    <MudChip Style="position: absolute; left: 3px; top: -15px;"
                             Color="Color.Info"
                             Label="true"
                             Size="Size.Small"
                             OnClick="() => { _changeComponentServiceId = true; }"
                             T="string">
                        @(Node.ComponentModel.Editor.RegistryServiceIdToPetNameAndSturdyRef.GetValueOrDefault(Node.ComponentModel.ComponentServiceId, ("Unknown service!", null)).Item1)
                    </MudChip>
                }
            </CardHeaderContent>
            @*<CardHeaderActions>
                <MudIconButton Icon="@Icons.Material.Filled.Edit"
                               Color="Color.Default"
                               OnClick="() => Node.Editable = !Node.Editable"/>
            </CardHeaderActions>*@
        </MudCardHeader>
        @* <MudCardMedia Image="images/pilars.jpg" Height="250" /> *@
        @if (Node.ComponentModel.Editable || Node.ComponentModel.DefaultConfigString.Length > 0)
        {
            <MudCardContent>
                @* @if (!Node.Editable && Node.DefaultConfigString.Length > 0) *@
                @* { *@
                @*     <MudField Label="Default TOML config" *@
                @*               Variant="Variant.Outlined"> *@
                @*         <MudText Typo="Typo.body2">@Node.DefaultConfigString</MudText> *@
                @*     </MudField> *@
                @* } *@
                @if (Node.ComponentModel.Editable)
                {
                    <MudField Label="Component data"
                              Variant="Variant.Outlined">
                        <MudTextField @bind-Value="Node.ComponentModel.ComponentId"
                                      Label="Id"
                                      Variant="Variant.Outlined"/>

                        <MudTextField @bind-Value="Node.ComponentModel.ComponentServiceId"
                                      Label="Service Id"
                                      Disabled="@(!string.IsNullOrWhiteSpace(Node.ComponentModel.ComponentId))"
                                      Variant="Variant.Outlined"/>
                        @if (!string.IsNullOrEmpty(Node.ComponentModel.ComponentName) || string.IsNullOrWhiteSpace(Node.ComponentModel.ComponentId))
                        {
                            <MudTextField @bind-Value="Node.ComponentModel.ComponentName"
                                          Label="Name"
                                          Disabled="@(!string.IsNullOrWhiteSpace(Node.ComponentModel.ComponentId))"
                                          Variant="Variant.Outlined"/>
                        }
                        @if (!string.IsNullOrEmpty(Node.ComponentModel.ShortDescription) || string.IsNullOrWhiteSpace(Node.ComponentModel.ComponentId))
                        {
                            <MudTextField @bind-Value="Node.ComponentModel.ShortDescription"
                                          Lines="2"
                                          Label="Description"
                                          Disabled="@(!string.IsNullOrWhiteSpace(Node.ComponentModel.ComponentId))"
                                          Variant="Variant.Outlined"/>
                        }
                        @if (!string.IsNullOrEmpty(Node.ComponentModel.DefaultConfigString) || string.IsNullOrWhiteSpace(Node.ComponentModel.ComponentId))
                        {
                            <MudTextField @bind-Value="Node.ComponentModel.DefaultConfigString"
                                          Lines="3"
                                          Label="Default TOML config (Key=Value)"
                                          Variant="Variant.Outlined"/>
                        }
                        @if (Node.ComponentModel.RemoteProcessAttached() && (!string.IsNullOrEmpty(Node.ComponentModel.Cmd) || string.IsNullOrWhiteSpace(Node.ComponentModel.ComponentId)))
                        {
                            <MudTextField T="string"
                                          @bind-Value="Node.ComponentModel.Cmd"
                                          Label="Commandline"
                                          Disabled="@(!string.IsNullOrWhiteSpace(Node.ComponentModel.ComponentId))"
                                          Variant="Variant.Outlined"/>
                        }
                    </MudField>
                }
            </MudCardContent>
        }
    </MudCard>
</div>

@code {
    [Parameter] public CapnpFbpComponentContentModel Node { get; set; } = null!;

    bool _alreadyRemoved = false;

    private bool _linesOn;

    private bool ParallelOn
    {
        get => Node.ComponentModel.InParallelCount > 1;
        set => Node.ComponentModel.InParallelCount = value ? 2 : 1;
    }

    private bool ProcessStarted => Node.ComponentModel.ProcessStarted;

    void RemoveWidget()
    {
        //Node.Visible = false;
        Node.Container.Nodes.Remove(Node);
    }

    void OnBlur(FocusEventArgs e)
    {
        if (_alreadyRemoved) return;
        // Node.PortModel.Refresh();
        // Node.Container.Nodes.Remove(Node);
        // UpdateLinkNames();
    }

    void OnKeyUp(KeyboardEventArgs e)
    {
        // if (e.Key != "Enter") return;
        // Node.Container.Nodes.Remove(Node);
        // Node.PortModel.Refresh();
        // UpdateLinkNames();
        // _alreadyRemoved = true;
    }

}