@using Blazor.Diagrams.Components.Renderers;
@using BlazorDrawFBP.Models;
@using BlazorDrawFBP.Renderers
@using System.Text
@using Brism
@using Mas.Infrastructure.BlazorComponents
@inject IDialogService DialogService

<div>
    <MudPaper Style="@CardStyle" Class="d-flex flex-column align-content-space-between"
              Elevation="3">
        <MudGrid Justify="Justify.Center" Spacing="1">
            <MudItem xs="5">
                <MudPaper Class="d-flex justify-start mud-width-full pl-3 pt-3" Outlined="false"
                          Elevation="0">
                    <MudButton Color="@Color.Primary"
                               StartIcon="@Icons.Material.Filled.PlayCircle"
                               OnClick="@SendIip">
                        "Send"
                    </MudButton>
                </MudPaper>
            </MudItem>
            <MudItem Class="align-content-end" xs="7">
                <MudPaper Class="d-flex justify-end mud-width-full pr-3 pt-3" Outlined="false"
                          Elevation="0">
                    @* <MudNumericField Style="width: 45px;" *@
                    @*                  @bind-Value="Node.DisplayNoOfLines" *@
                    @*                  Min="5" Max="100"/> *@
                    <MudButton Color="@Color.Primary"
                               EndIcon="@Icons.Material.Filled.Edit"
                               OnClick="@ShowDetails">
                        Large
                    </MudButton>
                </MudPaper>
            </MudItem>
            <MudItem xs="12">
                <MudTextField Class="pl-3 pr-3" Style="margin-top: -6px;"
                              T="string"
                              @bind-Value="Node.Content"
                              Lines="5"
                              Label="IIP content"
                              Variant="Variant.Outlined"
                              @onpointerenter="@(_ => Node.Locked = true)"
                              @onpointerleave="@(_ => Node.Locked = false)"/>
            </MudItem>
        </MudGrid>

        @foreach (var port in Node.Ports)
        {
            if (port is not CapnpFbpIipPortModel iipPort) continue;
            <CapnpFbpIipPortRenderer Port="iipPort" Class="default"/>
        }
    </MudPaper>
</div>

@code
{
    [Parameter] public CapnpFbpIipModel Node { get; set; }

    private string CardStyle => $"height: 200px; width: 250px;{FrameWidth};{FrameColor}";
    private string FrameWidth => $"border-width: 1px";
    //private string FrameColor => $"border-color: #6e9fd4";
    private string FrameColor => $@"border-color: {(IsConnectedToChannel ? "#1ac12e" : "#ff0000")}";
    private bool IsConnectedToChannel => Node.Ports.Any(p => p is CapnpFbpIipPortModel iipPort && iipPort.Writer != null);

    private async void SendIip()
    {
        try
        {
            foreach (var pl in Node.Links)
            {
                if (pl is not RememberCapnpPortsLinkModel rcplm) continue;
                if (rcplm.OutPortModel is not CapnpFbpIipPortModel iippm) continue;
                if (iippm.Writer == null) return;
                await iippm.Writer.Write(new Mas.Schema.Fbp.Channel<Mas.Schema.Fbp.IP>.Msg
                {
                    Value = new Mas.Schema.Fbp.IP { Content = Node.Content }
                });
            }
        }
        catch (Exception e)
        {
            Console.WriteLine("Caught exception: " + e);
        }
    }

    async void ShowDetails(MouseEventArgs e)
    {
        var parameters = new DialogParameters
        {
            ["Text"] = Node.Content
        };

        var dialog = await DialogService.ShowAsync<TextEditorDialog>("Edit IIP Content", parameters);
        var result = await dialog.Result;
        if (result == null || result.Canceled) return;
        Node.Content = result.Data as string;
        StateHasChanged();
    }
}