@using Blazor.Diagrams.Components.Renderers;
@using BlazorDrawFBP.Models;
@using BlazorDrawFBP.Renderers
@using System.Text
@using System.Threading
@using Brism
@using Mas.Infrastructure.BlazorComponents
@using Mas.Infrastructure.Common
@using Mas.Schema.Common
@inject IDialogService DialogService
@inject ConnectionManager ConMan

<div>
    <MudPaper Style="@CardStyle" Class="d-flex flex-column align-content-space-between"
              Elevation="3">
        <MudGrid Justify="Justify.Center" Spacing="1">
            <MudItem xs="5">
                <MudPaper Class="d-flex justify-start mud-width-full pl-3 pt-3" Outlined="false"
                          Elevation="0">
                    <MudButton Color="@Color.Primary"
                               StartIcon="@Icons.Material.Filled.PlayCircle"
                               OnClick="@SendIip">
                        "Send"
                    </MudButton>
                </MudPaper>
            </MudItem>
            <MudItem Class="align-content-end" xs="7">
                <MudPaper Class="d-flex justify-end mud-width-full pr-3 pt-3" Outlined="false"
                          Elevation="0">
                    <MudButton Color="@Color.Primary"
                               EndIcon="@Icons.Material.Filled.OpenInNew"
                               OnClick="@ShowDetails">
                        Large
                    </MudButton>
                </MudPaper>
            </MudItem>
            <MudItem Class="pt-0" xs="12">
                <div @onpointerenter="@(_ => { Node.Locked = true; })"
                     @onpointerleave="@(_ => { Node.Locked = false; })">
                    <MudSelect Class="pl-3 pr-3"
                               @bind-Value="Node.PlainTextOrContentType"
                               Margin="Margin.Dense"
                               Variant="Variant.Text">
                        <MudSelectItem Value="@((true, StructuredText.Type.unstructured))">
                            as plain text
                        </MudSelectItem>
                        @foreach (Mas.Schema.Common.StructuredText.Type ct in Enum.GetValues(typeof(Mas.Schema.Common.StructuredText.Type))) {
                            <MudSelectItem Value="@((false, ct))">@(Shared.FormatStructuredTextType(ct))</MudSelectItem>
                        }
                    </MudSelect>
                </div>
            </MudItem>
            <MudItem xs="12"
                     @onpointerenter="@(_ => DisableZoom())"
                     @onpointerleave="@(_ => EnableZoom())">
                <MudTextField Class="pl-3 pr-3" Style="margin-top: -6px;"
                              T="string"
                              @bind-Value="Node.Content"
                              Lines="3"
                              Label="IIP content"
                              Variant="Variant.Outlined"
                              @onpointerenter="@(_ => Node.Locked = true)"
                              @onpointerleave="@(_ => Node.Locked = false)"/>
            </MudItem>
        </MudGrid>
    </MudPaper>
    <MudText Style="@CardToolTipStyle" Typo="Typo.subtitle1" Align="Align.Center">
        @CardToolTipText
    </MudText>

    @foreach (var port in Node.Ports)
    {
        if (port is not CapnpFbpOutPortModel iipPort) continue;
        <div @onmouseenter="@(() => CardToolTipText = Shared.MakePortToolTipText(iipPort))"
             @onmouseleave="@(() => CardToolTipText = new MarkupString())">
            <CapnpFbpIipPortRenderer Port="iipPort" Class="default"/>
        </div>
    }
</div>

@code
{
    [Parameter] public CapnpFbpIipModel Node { get; set; }

    private string CardStyle => $"height: {Shared.CardHeight}px; width: {Shared.CardWidth}px;{FrameWidth};{FrameColor}";
    private string FrameWidth => $"border-width: 1px";
    //private string FrameColor => $"border-color: #6e9fd4";
    private string FrameColor => $@"border-color: {(IsConnectedToChannel ? "#1ac12e" : "#ff0000")}";
    private bool IsConnectedToChannel => Node.Ports.Any(p => p is CapnpFbpOutPortModel iipPort && iipPort.Writer != null);

    private MarkupString CardToolTipText { get; set; }
    private static string CardToolTipStyle => $"width: {Shared.CardWidth}px;";

    private void DisableZoom()
    {
        Node.Editor?.Diagram.Options.Zoom.Enabled = false;
    }

    private void EnableZoom()
    {
        Node.Editor?.Diagram.Options.Zoom.Enabled = true;
    }

    private async void SendIip()
    {
        await Node.SendIip(ConMan);
        StateHasChanged();
    }

    async void ShowDetails(MouseEventArgs e)
    {
        var parameters = new DialogParameters
        {
            ["Text"] = Node.Content
        };

        var dialog = await DialogService.ShowAsync<TextEditorDialog>("Edit IIP Content", parameters);
        var result = await dialog.Result;
        if (result == null || result.Canceled) return;
        Node.Content = result.Data as string;
        StateHasChanged();
    }
}