@using System.Diagnostics
@using BlazorDrawFBP.Controls
@using BlazorDrawFBP.Renderers
@using Mas.Infrastructure.BlazorComponents
@using Mas.Infrastructure.Common
@using Newtonsoft.Json.Linq
@inject ConnectionManager ConMan
@inject IDialogService DialogService
@* @inject BlazorDispatcher Dispatcher *@

<div>
    <MudPaper Style="@CardStyle" Class="d-flex flex-column align-content-space-between"
              Elevation="0">
        @code {
            bool _changeComponentServiceId;
        }

        @if (_changeComponentServiceId) {
            <MudChipSet T="string"
                        @bind-SelectedValue="Node.ComponentServiceId"
                        CheckMark
                        SelectionMode="SelectionMode.SingleSelection">
                @foreach (var (i, p) in Node.Editor.RegistryServiceIdToPetNameAndSturdyRef.Select((p, i) => (i, p))) {
                    var style = $"left: 3px; top: {-15 - i * 25}px; {Node.Editor.GetComponentServiceBadgeStyle(p.Key)}";
                    <MudChip Class="absolute"
                             Style="@style"
                             Color="Color.Default"
                             SelectedColor="Color.Default"
                             Label="true"
                             Default="@(p.Key == Node.ComponentServiceId)"
                             OnClick="() => { _changeComponentServiceId = false; }"
                             Size="Size.Small"
                             Value="@p.Key"
                             T="string">
                        @p.Value.Item1
                    </MudChip>
                }
            </MudChipSet>
        } else {
            <MudChip Class="absolute"
                     Style="@($"left: 3px; top: -15px; {Node.Editor.GetComponentServiceBadgeStyle(Node.ComponentServiceId)}")"
                     Color="Color.Default"
                     Label="true"
                     Size="Size.Small"
                     OnClick="() => { _changeComponentServiceId = true; }"
                     T="string">
                @Node.Editor.GetComponentServiceName(Node.ComponentServiceId)
            </MudChip>
        }
        <MudGrid Justify="Justify.Center" Spacing="1">
            <MudItem xs="5">
                <MudPaper Class="d-flex justify-start mud-width-full pl-3 pt-3" Outlined="false"
                          Elevation="0">
                    <MudButton Color="@Color.Primary"
                               StartIcon="@(Node.ProcessStarted ? Icons.Material.Filled.StopCircle : Icons.Material.Filled.PlayCircle)"
                               OnClick="async (e) => { await StartProcess(!Node.ProcessStarted); }">
                        @(Node.ProcessStarted ? "Stop" : "Start")
                    </MudButton>
                </MudPaper>
            </MudItem>
            <MudItem Class="align-content-end" xs="7">
                <MudPaper Class="d-flex justify-end mud-width-full pr-3 pt-3" Outlined="false"
                          Elevation="0">
                    @if (ParallelOn) {
                        <MudNumericField Style="width: 45px;"
                                         @bind-Value="Node.InParallelCount"
                                         Min="1" Max="10000"/>
                    }
                    <MudButton Color="@Color.Primary"
                               OnClick="() => { ParallelOn = !ParallelOn; }"
                               EndIcon="@(ParallelOn ? Icons.Material.Filled.LooksOne : Icons.Material.Filled.AddBox)">
                        Procs
                    </MudButton>
                </MudPaper>
            </MudItem>
        </MudGrid>
        <MudGrid Class="flex-grow-1" Justify="Justify.Center" Spacing="1">
            <MudItem xs="12" Class="d-flex justify-center">
                @code {
                    bool _editName = false;
                    private MudTextField<string> _procNameFieldRef;
                    string EditNameClass => $"pl-3 pr-3 {(_editName ? "" : "d-none")}";
                    string NameTextClass => $"pl-3 pr-3 {(_editName ? "d-none" : "")}";
                    private const Typo NameTypo = Typo.h6;
                    private const int NoOfNameChars = 18;

                    void showAndFocusOnNameEdit() {
                        _editName = true;
                        Task.Delay(200).ContinueWith(_ => _procNameFieldRef.FocusAsync());
                    }

                }

                <MudTextField Class="@EditNameClass"
                              @ref="_procNameFieldRef"
                              @bind-Value="Node.ProcessName"
                              Typo="@NameTypo"
                              Variant="Variant.Text"
                              OnBlur="@(() => _editName = false)"
                              OnKeyUp="@(args => {
                                           if (args.Key == "Enter") _editName = false;
                                       })"
                              @onpointerenter="@(_ => Node.Locked = true)"
                              @onpointerleave="@(_ => Node.Locked = false)"/>
                <MudTooltip Text="@Node.ProcessName"
                            Delay="600"
                            Arrow="true"
                            Disabled="@(Node.ProcessName.Length <= NoOfNameChars)">
                    <span @ondblclick:stopPropagation="true">
                        <MudText Class="@NameTextClass" Typo="@NameTypo" Align="Align.Center"
                                 @ondblclick="showAndFocusOnNameEdit">
                            @(Node.ProcessName.Length > NoOfNameChars ? $"{Node.ProcessName[..NoOfNameChars]}..." : Node.ProcessName)
                        </MudText>
                    </span>
                </MudTooltip>
            </MudItem>
            <MudItem xs="12" Class="d-flex justify-center">
                <MudText Class="pl-3 pr-3" Style="margin-top: -6px;" Typo="Typo.caption" Align="Align.Center">
                    @(Node.ComponentName.Length > 20 ? $"{Node.ComponentName[..20]}...".ToUpper() : Node.ComponentName.ToUpper())
                </MudText>
            </MudItem>
            <MudItem xs="12" Class="d-flex justify-center">
                @code {
                    bool _editShortDesc = false;
                    private MudTextField<string> _procShortDescFieldRef;
                    string EditShortDescClass => $"pl-3 pr-3 {(_editShortDesc ? "" : "d-none")}";
                    string ShortDescTextClass => $"pl-3 pr-3 {(_editShortDesc ? "d-none" : "")}";
                    private const Typo ShortDescTypo = Typo.body2;
                    private const int NoOfShortDescChars = 57; //87;

                    void showAndFocusOnShortDescEdit() {
                        _editShortDesc = true;
                        Task.Delay(200).ContinueWith(_ => _procShortDescFieldRef.FocusAsync());
                    }

                }

                <MudTextField Class="@EditShortDescClass"
                              Lines="2"
                              MaxLines="2"
                              @ref="_procShortDescFieldRef"
                              @bind-Value="Node.ShortDescription"
                              Typo="@ShortDescTypo"
                              Variant="Variant.Text"
                              OnBlur="@(() => _editShortDesc = false)"
                              OnKeyUp="@(args => {
                                           if (args.Key == "Enter") _editShortDesc = false;
                                       })"
                              @onpointerenter="@(_ => Node.Locked = true)"
                              @onpointerleave="@(_ => Node.Locked = false)"/>
                <MudTooltip Text="@Node.ShortDescription"
                            Delay="600"
                            Arrow="true"
                            Disabled="@(Node.ShortDescription.Length <= NoOfShortDescChars)">
                    <span @ondblclick:stopPropagation="true">
                        <MudText Class="@ShortDescTextClass" Typo="@ShortDescTypo" Align="Align.Left"
                                 @ondblclick="showAndFocusOnShortDescEdit">
                            @(string.IsNullOrWhiteSpace(Node.ShortDescription) ? "no description" : Node.ShortDescription.Length > NoOfShortDescChars ? $"{Node.ShortDescription[..NoOfShortDescChars]}..." : Node.ShortDescription)
                        </MudText>
                    </span>
                </MudTooltip>
            </MudItem>
        </MudGrid>
        <MudGrid Justify="Justify.Center" Spacing="1">
            <MudItem xs="4">
                @if (Node.Editable) {
                    <MudButton Color="Color.Primary"
                               StartIcon="@Icons.Material.Filled.AddBox"
                               OnClick="(e) => AddPort(e, CapnpFbpPortModel.PortType.In)">
                        IN
                    </MudButton>
                }
            </MudItem>
            <MudItem xs="4">
                @if (!Node.Editable) {
                    <MudButton Color="Color.Secondary"
                               StartIcon="@Icons.Material.Filled.Settings"
                               OnClick="@ShowJsonDetails">Conf
                    </MudButton>
                }
            </MudItem>
            <MudItem xs="4">
                @if (Node.Editable) {
                    <MudButton Color="Color.Primary"
                               EndIcon="@Icons.Material.Filled.AddBox"
                               OnClick="(e) => AddPort(e, CapnpFbpPortModel.PortType.Out)">
                        OUT
                    </MudButton>
                }
            </MudItem>
        </MudGrid>
    </MudPaper>
    <MudText Style="@CardToolTipStyle" Typo="Typo.subtitle1" Align="Align.Center">
        @CardToolTipText
    </MudText>

    @foreach (var port in Node.Ports) {
        if (port is not CapnpFbpPortModel capnpPort) continue;

        <div @onmouseenter="@(() => CardToolTipText = Shared.MakePortToolTipText(capnpPort))"
             @onmouseleave="@(() => CardToolTipText = new MarkupString())">
            <CapnpFbpPortRenderer @key="port"
                                  Port="capnpPort"
                                  SocketColor="@FrameBorderColorValue" />
        </div>
    }
</div>

@code {
    [Parameter] public CapnpFbpComponentModel Node { get; set; } = null!;

    private string CardStyle =>
        $"height: {(Node.Size?.Height ?? Shared.CardHeight)}px; width: {(Node.Size?.Width ?? Shared.CardWidth)}px;{FrameWidth};{FrameColor}";

    private string FrameWidth => $"border-width: {(Node.RemoteProcessAttached() ? 1 : 1)}px";
    private string FrameBorderColorValue => CapnpFbpPortColors.ResolveComponentFrameColor(Node);
    private string FrameColor => $"border-color: {FrameBorderColorValue}";

    private MarkupString CardToolTipText { get; set; }
    private string CardToolTipStyle => $"width: {(Node.Size?.Width ?? Shared.CardWidth)}px;";

    private bool ParallelOn {
        get => Node.InParallelCount > 1;
        set => Node.InParallelCount = value ? 2 : 1;
    }

    protected override void OnInitialized()
    {
        // Node.Dispatcher = Dispatcher;
    }

    private async Task StartProcess(bool start) {
        if (start)
            await Node.StartProcess(ConMan);
        else
            await Node.StopProcess(ConMan);
        StateHasChanged();
    }

    private async Task ShowJsonDetails(MouseEventArgs e) {
        var parameters = new DialogParameters {
            ["JsonString"] = Node.ConfigString ?? "",
            ["DefaultsJsonString"] = Node.DefaultConfigString
        };

        var options = new DialogOptions { MaxWidth = MaxWidth.Medium, FullWidth = true };
        var dialog = await DialogService.ShowAsync<JsonEditorDialog>("Edit Configuration", parameters, options);
        var result = await dialog.Result;
        if (result == null || result.Canceled) return;
        Node.ConfigString = result.Data as string;
        StateHasChanged();
    }

    private async Task ShowTomlDetails(MouseEventArgs e) {
        var parameters = new DialogParameters { ["TomlString"] = string.IsNullOrWhiteSpace(Node.ConfigString) ? Node.DefaultConfigString : Node.ConfigString };

        var dialog = await DialogService.ShowAsync<TomlEditorDialog>("Edit Configuration", parameters);
        var result = await dialog.Result;
        if (result == null || result.Canceled) return;
        Node.ConfigString = result.Data as string;
        StateHasChanged();
    }

    void AddPort(MouseEventArgs e, CapnpFbpPortModel.PortType type) {
        var ports =
            Node.Ports.Where(p => p is CapnpFbpPortModel cp && cp.ThePortType == type).OrderBy(p => p is CapnpFbpPortModel cp ? cp.OrderNo : 0).ToList();
        var newOrderNo =
            ports.LastOrDefault() is CapnpFbpPortModel lastPort ? lastPort.OrderNo + 1 : 0;
        AddPortControl.CreateAndAddPort(Node, type, newOrderNo);

        Node.RefreshAll();
    }

}
