@using Mas.Schema.Fbp
<div class="channel-link-label d-flex" style="@(ShowStats)">
    <div>
        <MudBadge Class="d-inline-flex pa-1" Content="@(Stats.NoOfWaitingWriters.ToString())" Overlap="true">
            <MudIcon Icon="@Icons.Material.Filled.Login" Color="Color.Default"/>
        </MudBadge>
        <MudBadge Class="d-inline-flex pa-1" Content="@((int)Stats.NoOfIpsInQueue)" Overlap="true">
            <MudIcon Icon="@Icons.Material.Filled.Battery4Bar" Color="Color.Default"/>
        </MudBadge>
    </div>

    <div>
        <MudBadge Class="d-inline-flex pa-1" Content="@(Stats.NoOfWaitingReaders.ToString())" Overlap="true">
            <MudIcon Icon="@Icons.Material.Filled.Logout" Color="Color.Default"/>
        </MudBadge>
        <MudBadge Class="d-inline-flex pa-1" Content="@((int)Stats.TotalNoOfIpsReceived)" Overlap="true">
            <MudIcon Icon="@Icons.Material.Filled.Email" Color="Color.Default"/>
        </MudBadge>
    </div>
</div>

@code 
{
    [Parameter] 
    public ChannelLinkLabelModel Label { get; set; }

    private Mas.Schema.Fbp.Channel<IP>.StatsCallback.Stats Stats => Label?.LinkModel.Stats;

    private string ShowStats => Label.ShowStats ? "" : "display: none";
    
    private void OpenChannelInfo()
    {
        Console.WriteLine("Open Channel Info");
    }
    
}