@using Blazor.Diagrams.Core.Models.Base;
@using BlazorDrawFBP.Models;;

<div class="gray lighten-3 pa-1" style="width: @(Link.Width)px;">
    <div>Width: @Link.Width</div>
    <div>Color: @Link.Color</div>
    <div>LLabel: @Link.Labels[0].Content</div>
    <div>RLabel: @Link.Labels[1].Content</div>
</div>

@code
{
    [Parameter]
    public LinkInformationControl Control { get; set; } = null!;

    [Parameter]
    public Model Model { get; set; } = null!;

    public LinkModel Link => (Model as LinkModel)!;
}
